nav
  a(href = "http://phillipian.net") 
    img(src = "/dist/images/light.svg")
  a.text(href = "/") HOME
  a.text(href = "/twitter.html") UPDATES
  a.text(href = "/record-breaker.html") RECORD BREAKER
