nav
  a(href = "http://phillipian.net")
    img(src = "/dist/images/dark.svg")
  a.text(href = "/") HOME
  a.text(href = "/twitter.html") UPDATES
  a.text(href = "/history-in-photos.html") PHOTO ARCHIVES
