nav
  a(href = "http://phillipian.net")
    img(src = "/dist/images/dark.svg")
  a.text(href = "/") HOME
  a.text(href = "/history-in-photos.html") HISTORY IN PHOTOS
  a.text(href = "/twitter.html") UPDATES
