extends includes/layout.pug

block title
  title AE Day 2018


block body
  header(style="background-image:url(/dist/images/history/dlee.football083.jpg); background-position: center center; background-size: cover;")
    .text
      h1 Andover/Exeter: A History in Photos
      br
      p Over the past 6 years, a lot has happened in the Andover/Exeter rivalry. Take a look back at some moments from the past!
  p.header-credits= "D.Lee/The Phillipian"
  #story
    h1 Football
    h3 2012
    -image_url = "/dist/images/history/smoreland.footballEXETER.11101227.jpg"
    -image_source = "S.Moreland/The Phillipian"
    -caption = "Lawrence Kemp '12 gets wrapped up by a defender. Andover lost to Exeter, 9-35."
    include elements/half-width.pug
    h3 2014
    -image_url = "/dist/images/history/jwolfe.bvfootball030.jpeg"
    -image_source = "J.Wolfe / The Phillipian"
    -caption = "Mike Panepinto '15 had his way with Exeter's defense, amassing 187 yards on 25 carries in a 13-12 victory over Exeter."
    include elements/half-width.pug
    h1 Boys Soccer
    h3 2012
    -image_url = "/dist/images/history/smoreland.boyssoccerEXETER.11101115.jpg"
    -image_source = "S.Moreland / The Phillipian"
    -caption = "Dylan Mott '15 celebrates after scoring the only goal of Boys Soccer's A/E victory. He would later go on to break the all time record of goals scored."
    include elements/half-width.pug
    h3 2014
    -image_url = "/dist/images/history/lluo.bvsoccer027.jpeg"
    -image_source = "L.Luo / The Phillipian"
    -caption = "Nicolas Swenson ’15 capped off his illustrious Andover career with a well-rounded performance, as Boys Soccer tied Exeter 1-1."
    include elements/half-width.pug
    h1 Girls Soccer
    h3 2012
    -image_url = "/dist/images/history/smoreland.girlssoccerEXETER.11101241.jpg"
    -image_source = "S.Moreland / The Phillipian"
    -caption = "Her face painted blue for the matchup, Angela Batuure ’13 dribbles the ball down the field. They would go on to tie the match 1-1."
    include elements/half-width.pug
    h3 2014
    -image_url = "/dist/images/history/jwolfe.gvsoccer019.jpeg"
    -image_source = "J.Wolfe / The Phillipian"
    -caption = "Alana Humes '15 moves past defenders in a 3-1 win over Exeter."
    include elements/half-width.pug
    h1 Field Hockey
    h3 2012
    -image_url = "/dist/images/history/jqufieldhockey016.jpg"
    -image_source = "J.Qufield / The Phillipian"
    -caption = "Evagelia Toffoloni ’15 manuevers past defenders. They would go on to tie the game, 2-2."
    include elements/half-width.pug
    h3 2014
    -image_url = "/dist/images/history/jwolfe.gvfieldhockey020.jpeg"
    -image_source = "J.Wolfe / The Phillipian"
    -caption = "Katerina Toffoloni ’15 pokes the ball into the goal as Andover defeated Exeter 4-1."
    include elements/half-width.pug
    h1 Volleyball
    h3 2012
    -image_url = "/dist/images/history/smoreland.volleyballEXETER.11101249.jpg"
    -image_source = "S.Moreland / The Phillipian"
    -caption = "Lucia McGloin ’13 prepares to spike the ball over the net in Andover’s clean sweep of Exeter."
    include elements/half-width.pug
    h3 2014
    -image_url = "/dist/images/history/ekaufmannladuc.aegvvb004.jpeg"
    -image_source = "E.Kaufmann-Laduc/ The Phillipian"
    -caption = "A player sets a the volleyball for a spike. This game would go a full five matches, with Exeter winning."
    include elements/half-width.pug
    h1 Water Polo
    h3 2012
    -image_url = "/dist/images/history/zgallagher.wopo073.jpg"
    -image_source = "Z.Gallagher / The Phillipian"
    -caption = "Scott Simpson ’14 defends an Exeter attacker in the 13-8 loss."
    include elements/half-width.pug
    h3 2013
    -image_url = "/dist/images/history/lxuan.wopo.png"
    -image_source = "L.Xuan / The Phillipian"
    -caption = "Boys Water Polo celebrates its first Championship in its 20 year history after defeating Exeter, the defending champions, 6-5."
    include elements/half-width.pug
    h3 2014
    -image_url = "/dist/images/history/lhamann.bvwopo014.jpeg"
    -image_source = "L.Hamann / The Phillipian"
    -caption = "Nick Faulkner '16 moves the ball away from a defender. They would go on to lose the game 7-5."
    include elements/half-width.pug
    h3 2017
    -image_url = "/dist/images/history/andoverathletics.wopo.01.jpg"
    -image_source = "Courtesy of Andover Athletics"
    -caption = "Nick Isenhower '18 fakes a shot in a 10-5 loss to Exeter."
    include elements/half-width.pug
    h1 Boys Cross Country
    h3 2014
    -image_url = "/dist/images/history/ekaufmannladuc.bvxc010.jpeg"
    -image_source = "E.Kaufmann-Laduc / The Phillipian"
    -caption = "Holden Ringer ’17 (left) and Max Lee ’15 (right) sprint towards the Sanctuary."
    include elements/half-width.pug
    h3 2017
    -image_url = "/dist/images/history/_MG_3505.jpg"
    -image_source = "J.Buehler / The Phillipian"
    -caption = "Jack O'Neil '19, Winston Lane '20, and David Cohen '18 run in a pack up a hill."
    include elements/half-width.pug
    h1 Girls Cross Country
    h3 2012
    -image_url = "/dist/images/history/mkobelski.girlsxc027.jpg"
    -image_source = "M.Kobelski / The Phillipian"
    -caption = "Two Andover runners sprint the last few hundred meters of Andover's cross country course."
    include elements/half-width.pug
    h3 2014
    -image_url = "/dist/images/history/ekaufmannladuc.gvxc026.jpeg"
    -image_source = "E.Kaufmann-Laduc / The Phillipian"
    -caption = "Andover cross country runners utilize pack running to motivate each other."
    include elements/half-width.pug
