extends includes/layout.pug

block title
  title AE Day 2017
  
block body
  header(style="background-image:url(/dist/images/cohen/andoverathletics.cohen.jpg)")
  p.header-credits= "Courtesy of Phillips Academy Athletics"
  #story
    h1 Adam Cohen Breaks Andover Football All-Time Tackle Record
    h4 By Jed Heald '20
    p A three year starter for Andover Football, Co-Captain Adam Cohen ’18 now holds the Andover record for the most tackles in a single season. Through his training and athletic ability, Cohen was able to consistently rack up tackle after tackle on his way to breaking the all-time record for one season, which he achieved in his final year at Andover. 
    p Initially, as a new Lower, Cohen used football as a way to meet new people.
    p Cohen said, “Coming here was a tough transition for me. In my first year here on campus, I lived in Carriage House, the farthest dorm on campus, so it was hard to socialize with people because I wasn’t surrounded by anyone but the kids in my dorm. Through playing football, I was able to make more friends here, and it helped me out a lot.”
    -var quote = "Through playing football, I was able to make more friends here, and it helped me out a lot."
    -var quote_source = "ADAM COHEN '18"
    include elements/quote.pug
    p After starting at linebacker for three years, Cohen learned how to lead the team and set an example for the other players, according to Coach Modeste.
    p “He’s a lead-by-example guy, not a big rah-rah guy, but there’s nobody that’s going to work harder than him. If you push him, he’ll work even harder,” said Head Coach Leon Modeste. 
    p According to the Coach Modeste, Cohen is an incredibly dedicated athlete, working out in addition to practice nearly every day to improve his strength and conditioning.
    p “He’s always in the gym working out, and he’s just so determined to make himself as good as he can be and to make his teammates as good as they can be. He’s not just going in to lift. He has a plan, and he’s worked with Mr. Collins. In the spring, he’s out on the field doing sprints. He is a really special player and has an excellent work ethic,” said Coach Modeste.
    p On the field, Cohen is a focused, hard-working player that acts as role model for the rest of the team. 
    p “He’s trying to set a culture for our football program where everyone works hard every day. Adam’s one of the first guys out on the field and stays after practice and does runs with his teammates. He’s an ideal captain and middle linebacker,” said Coach Modeste.
    -image_url = "/dist/images/cohen/hsolomon.cohen.jpg"
    -image_source = "H.Solomon / The Phillipian"
    -caption = "Cohen, right, talks with teammate Kevin Milkowski '18 before a game"
    include elements/half-width.pug
    p Cohen was unaware of his record breaking performance until after the fact, demonstrating his drive to improve himself and not just chase titles at Andover.
    p “It wasn’t something I was trying to achieve, it just kind of happened. I didn’t even know I had the record for a while, but people started talking about it, and word got around,” said Cohen.
    p Colby Gendron ’18 said, “Any player that steps within a thirty meter radius of Cohen is going to be tackled whether they like it or not. You cannot run through him, only around him.”
    p Widely regarded as one of the best players in the Andover Football program by both coaches and players, Cohen will continue his record-breaking season at Phillips Exeter Academy in the final football game of the year.
