extends includes/layout.pug

block title
  title AE Day 2017 | Live Twitter Field
  
block body
  .container
    .col-md-8.col-md-offset-2
      .twitter-wrapper
        a.twitter-timeline(href="https://twitter.com/PhillipianSprts?ref_src=twsrc%5Etfw" data-dnt="true" data-height="100vh") Tweets by PhillipianSports
        script(async="", src="https://platform.twitter.com/widgets.js", charset="utf-8")
