.double-image
  div
    img(src = first_image_url)
    p.credits= first_image_source
    p.caption= first_caption
  div
    img(src = second_image_url)
    p.credits= second_image_source
    p.caption= second_caption
