#bvfb
  h1 Boys Football
  h4 By Jerry Shu '21
  p With a 5-2 season record and coming off of a 42-21 victory, Andover Football has strong momentum heading into their annual rivalry game against Phillips Exeter Academy. Andover leads in rivalry wins 73-52-10 and looks to add to this margin on Saturday.
  p Heading into its final game, Andover is confident in its ability to beat Exeter, which currently has a losing record of 1-5 this season, according to Michael Codrington ’18.
  p “Our mentality going into Exeter is to crush them. We have no excuse not to… Two years [ago], we were about even teams. This year, we need to bury those guys, and we have the talent to do it,” said Codrington.
  -var quote = "Our mentality going into Exeter is to crush them."
  -var quote_source = "MICHAEL CODRINGTON '18"
  include ../elements/quote.pug
  p One strength of the Andover team this season has been its defense, according to Dinapoli.
  p “Our defense is very effective, and [they’ve done] a very good job of stopping the run as well as the pass,” said DiNapoli.
  p “[We need to take] the game one play at a time. We need to play our game and not let the other team affect us. If we can take care of the small details, the big things will take care of themselves,” said Zach Fitzgerald ’18.
  p According to Fitzgerald, Exeter has a strong rushing presence, meaning that its offense is able to advance the ball by running it up the field.

  p “We need to stop their run game. They’ve got a good running back,” said Fitzgerald.
  p For Codrington and the team’s other Seniors, there is much anticipation to finish their Andover careers with a win and to continue the five-year streak of defeating Exeter, according to Codrington.
  p “This game means everything to me. Nothing else matters. I would like nothing more than to finish my Andover career in the winner’s circle and to make it year five in a row. “I’ll spend all week thinking of this game,” said Codrington. 
  p Andover is confident headed into its game away against Exeter. 
  -image_url = "/dist/images/previews/bvf.trynne.jpg"
  -image_source = "T.Rynne / The Phillipian"
  -caption = "Andover has defeated Exeter for the past five years."
  include ../elements/half-width.pug
  hr
