#bvfb
  h1 Boys Football
  h4 By Lucy Lasater '21

  p After a 17-14 win during last year’s Andover/Exeter game, Andover Football will compete against Phillips Exeter Academy in a game that will be both its last of its season and its last under Head Coach Leon Modeste, following his 32-year career.
  p Despite a losing season record of 2-4, Andover is heading into its game against Exeter with high hopes, according to Matt Sapienza ’21.
  p Sapienza said, “We haven’t gotten as many wins as we hoped and expected to get [this season], but we’re trying to forget… about the games that we’ve had and just start a new season this week and beat Exeter.”
  p The challenges Andover has faced this season have served as a source of motivation for the team to keep improving, according to Nick Thomas ’21.
  p Thomas said, “All those losses we’ve taken, [they’ve] helped us shape up to be a better team towards the end of the season, especially going into [Andover/Exeter] Weekend.”
  -var quote = "All those losses we’ve taken, [they’ve] helped us shape up to be a better team towards the end of the season, especially going into [Andover/Exeter] Weekend."
  -var quote_source = "Nick Thomas ’21"
  include ../elements/quote.pug
  p In preparation for the game, Andover has been doubling down in both practice and game study throughout the week, according to Jake Jordan ’20 and Thomas.
  p Jordan said, “It’s been an uphill battle, trying to put all the pieces together. We’re gonna bring a lot of intensity to practice this week, a lot of focus. This is our biggest week yet, obviously.”
  p Thomas added, “We’re going through through a lot of stuff [game material and planning] right now. I know [Tuesday] morning at six, the whole team — well, offensive team — is meeting to go over everything, so it’s gonna be really interesting getting up.”
  p Although many Andover players are injured, the team remains committed to and supportive of one another, according to Sapienza, who is one of the injured players.
  p Sapienza said, “We are just trying to support our teammates that are playing and are in the game and just stay in the game throughout the first match to the last and just motivate our teammates to the best that they can.”
  p According to Ricardo Hernandez ’19, the team is motivated to win this game both for the Senior members of the team, as well as for Coach Modeste, who will retire alongside the Class of 2019.
  p Hernandez wrote, “Our Captain, Will Litton [’19], always tell us that we don’t get many chances to play football, and knowing this is the last one is hard. We have created such a great community; we’re basically one huge family at this point, and I just wish we had more time to spend together. Though I’m sad, I’m also excited because I know I have to give it my all in order to beat Exeter. We owe it to Coach Mo to send him out with a victory against Exeter, and that’s what I’m aiming to do.”

  -image_url = "/dist/images/previews/dzhu.ftbl.17.JPG"
  -image_source = "D.Zhu / The Phillipian"
  -caption = "Andover has defeated Exeter for the past six years."
  include ../elements/half-width.pug
  hr
