#bvs
  h1 Boys Soccer
  h4 By Mary Kerrigan '22

  p After losing 1-0 in last year’s matchup, Andover Boys Soccer is determined to come out on top against Phillips Exeter Academy in its final game on Smoyer Field Saturday.
  p The upcoming game is the culmination of Andover’s season, according to Lucas Stowe ’20.
  p “The game on Saturday is obviously the most important game of the season. Regardless of any team goals, this is the one we all have had our eyes set on. Even with our team’s losing record, our mindset is ‘Win this one,’” said Stowe.
  p In its last week of practice for the season, Andover has been preparing both mentally and physically for Saturday, according to Co-Captain Henry Rogers ’19 and Ethan Hong ’22.
  p Rogers wrote in an email to The Phillipian, “We're going to do what we've been doing all week and practice hard. Also, we're going to be getting ready mentally for a game as large as [Andover/Exeter]. The team feels extremely prepared to compete on [Andover/Exeter]. This is what we've had our sights on all year and a win against Exeter is all the team is thinking about right now.”
  p Hong wrote in an email to The Phillipian, “This week we will work on everything we have worked on during the season. There would be no point in changing up something huge with the game being so close. We should stick to our game plan we have had all season.”
  p One of Andover’s goals is to maintain possession during Saturday’s match up, an aspect of its game it has improved over the course of the season, as well as build off of the offense it has generated in recent games, according to Hong and Rogers.
  p Hong wrote, “I think as a team one of our strengths is when we play well, we can keep possession of the ball. It is something we have been working on all season, and I think now we have the skill and practice to maintain possession for a long time.”

  -var quote = "...our offense has become more creative and more effective as of late, which has resulted in more goals recently than earlier in the year."
  -var quote_source = "Henry Rogers ’19"
  include ../elements/quote.pug


  p “I think that our strengths is that our offense has become more creative and more effective as of late, which has resulted in more goals recently than earlier in the year,” wrote Rogers.
  p The game against Exeter will be Andover’s last game of season regardless of the outcome, and Andover hopes to finish strong for the Seniors on the team, according to Stowe.
  p “This game is all about the Seniors for us. That’s why it’s really upsetting Nacho [Hidalgo ’19] can’t be playing with his recent injury and Phillip [Matteini ’19] is going to be out because of his concussion. It stinks that they can’t be a part of it too, but we are going to be playing for them, and also for the rest of our Seniors. We want them walking off the field taking a last win against the biggest rival on the biggest stage,” said Stowe.
  p Rogers wrote, “This game means a lot to the team, as it always does, but means so much to the Seniors on the team. It'll be the last time wearing the Andover Soccer jersey and stepping out on Smoyer for all of the Senior class, so we definitely want to make it count.”


  -image_url = "/dist/images/previews/cwaggoner.BVS.11.jpg"
  -image_source = "C.Waggoner / The Phillipian"
  -caption = "Andover lost to Exeter 1-0 in last year’s contest and strives to beat them this year."
  include ../elements/half-width.pug
  hr
