#bvs
  h1 Boys Soccer
  h4 By Jed Heald '20
  p After beating Tabor Academy 3-1 on Wednesday night, Andover Boys Varsity Soccer will enter its final match against rival Phillips Exeter Academy with a record of 5-6-3 on the season. 
  p Last year, the match resulted in a 0-0 tie, despite strong performances from both teams. Year after year, the competitive soccer rivalry between the two teams never fails to disappoint.
  p With an entire season of preparation under its belt, Andover looks to take down a hot Exeter team that has won four of its last six games. 
  p According to Hayden Weatherall ’18, the team’s experience will help them overcome obstacles they face throughout the game.
  p “Playing Exeter is always a battle, despite our obvious superiority on the pitch. We have a solid group of experienced players, but so does Exeter. In any case, we will be ready, and we are ready, to make stuff happen for the fans,” said Weatherall.
  p The team is challenging themselves and working extremely hard in preparation for Saturday’s game.
  p “We are preparing for the game by making sure our last practices this week are very competitive and that we work hard for the entire time we are on the field,” said Isaac Hershenson ’20.
  p Henry Rogers ’19 said, “We’re going to try and build off this win against Tabor that we got [Wednesday]  and have a good two days of practice before the game on Saturday.”
  p In the week leading up to the game, Andover is focusing in on smaller things that will positively affect the team’s play against Exeter.
  p Weatherall said, “This week we are working on being clinical in the final third. We are more than prepared to take it to Exeter. We have the confidence and the ability, all we need is to put the ball in the back of the net.”
  p Andover hopes to use the match against Exeter to end the season on a high note.
  p “We’ve had some results that didn’t go our way throughout the season and it’s really important to have something positive to remember,” said Rogers.
  p Hershenson said, “I think this game is very important because even though we have not had the most successful season, this win would really help us move forward and have a better outlook on the season.”
  -image_url = "/dist/images/previews/bvs.amacaya.jpg"
  -image_source = "A.Macaya / The Phillipian"
  -caption = "Andover and Exeter tied 0-0 in last year’s contest."
  include ../elements/half-width.pug
  hr
