#bvwp
  h1 Boys Water Polo: Championship Preview
  h4 by Arnold Su '20
  p With a current record of 11-3, Andover Boys Water Polo enters New England Preparatory School Athletic Council “Liquid Four” Water Polo Championships on Saturday as third seed to play in the semifinal against longtime rival, second seed Phillips Exeter Academy. 
    
  p Head Coach Daniel O’Shea said, “Looking ahead, I feel like we are going to certainly be challenged by Exeter, but that we can certainly win against them… If we can execute our plays well and mount a strong defense, then we will be in excellent shape.” 

  p Exeter has beaten Andover twice this season. According to Coach O’Shea, Exeter’s aggressive defense has proven to be a particularly difficult obstacle for the team. 

  p “The big challenge is going to be upping our intensity over the next few practices to make sure we are prepared for a very talented Exeter defense,” said Coach O’Shea. 
    
  p Andover is using previous losses against the Exeter team as guidance for improvement. According to Co-Captain Nicholas Isenhower ’18, the team has studied Exeter’s style of play and has been able to make adjustments that will hopefully make a difference going forward.

  p Isenhower said, “We’ll focus specifically on what Exeter does in looking at our first game. They’re a tough competitor, but having just played them gives us a really good sense of what work needs to be done in the next week.” 
  p “We have quite a bit of work to do this week in preparation, but we found some very effective strategies in our match last Wednesday,” said Coach O’Shea. 
    
  p The team has also been working hard to perfect its general skills, according to Coach O’Shea and Isenhower. 
  p “We’re working a lot on cleaning up our passing game and protecting the ball under pressure,” said Coach O’Shea. 
  p “We will work a lot on ball control, absorbing the pressure, six-on-five opportunities, and fine-tuning our skills,” said Isenhower.  

  p With an entire season of preparation and work leading up to this game, Andover hopes to take home the championship title. 
    
  p Isenhower said, “With this past weekend off, we’re feeling rested and ready to go. We’re excited for our last games of the season this upcoming weekend at Brunswick. We have one goal in sight, and we know we’ve got the talent and determination to execute come game time.” 
  
  -image_url = "/dist/images/previews/bvwp.rprem.jpg"
  -image_source = "R.Prem / The Phillipian"
  -caption = "Boys Varsity Waterpolo will play Exeter in Interschols this coming Saturday"
  include ../elements/half-width.pug
  
  hr   
     


  
