#bvwp
  h1 Boys Water Polo: Championship Preview
  h4 by Abby Ryan '21


  p After completing its regular season with a 13-2 record and a nine-game winning streak, Andover Boys Water Polo will be contending with the top teams in New England at the Nepsac tournament this weekend. The team is seeded first and received a bye in the first round of the tournament, which means that Andover will skip the first round of elimination. The first team Andover will face is Brunswick.

  p According to Co-Captain Neil Simpson ’19 and Sam Donchi ’20, the high level of experience on the team helps its level of play.
  p In an email to The Phillipian, Donchi wrote, “This team is different mostly because of the varying levels of experience. This year, specifically in the Senior class, there is a lot of experience in the game. That being said, I think we are very well prepared for next weekend.”
  p Simpson said, “I would say just the water polo knowledge base for our team this year is way stronger than it has been in the past. Kids have experience and not only have the guys who have been on the team since [Junior] year, Lower year, developed throughout their Andover careers, but that the kids we've brought in this year like Theo [Faugeres ’21], who's played for a long time before, Beckett [McKee ’22] played for a while before. Just bringing these guys who already have so much experience to the game has really just improved our knowledge base of water polo, which is huge in a sport like water polo where experience is kind of essential to succeed.”
  p Over the course of the season, Co-Captain Eric Osband ’19, Donchi, and Max Hunger ’20 said they have noticed marked improvement in the team’s defense and communication.
  p Osband said, “In terms of just our record, we lost to two teams early that were hard games, and we came back now and we won both of those against the same teams. We've gotten a lot better; the teamwork, fitness, experience… In the beginning of the season, we were really struggling covering our players and being aware of what's going on. I think we're getting a lot better at that as a team, like helping each other out and helping someone else out to steal the ball from the other guys.”
  p “We have worked hard all season and everyone has improved a lot. We still really need to improve our communication and movement. Our defense has vastly improved since the start of the season, something that really paid off during the [Phillips Exeter Academy] game. I'm looking forward to playing against a lot of really talented teams and seeing what we can do,” wrote Donchi in an email to The Phillipian.
  p Hunger said, “We've just learned how to perfect the basics, and as a team, we've very much improved in communicating and just making sure everyone knows what's going on in the game, what's happening. [We’ve shown] drastic improvement: teams that beat us in the beginning of the year, we beat them. Although they were close games, we were able to win. I say that shows everything there is about the work ethic, the spirit of our team. We did just hard work.”

  -var quote = "[We’ve shown] drastic improvement: teams that beat us in the beginning of the year, we beat them... that shows everything there is about the work ethic, the spirit of our team."
  -var quote_source = "Max Hunger ’20"
  include ../elements/quote.pug

  p In order to defeat top teams like long-standing champion Brunswick, the team will have to exhibit strong teamwork and execute the strategies that have been planned, according to Hunger and Simpson.
  p “I think it's going to be a matter of how we play as a team and not necessarily who stands out because no one is able to stand out without proper team cohesion... If we don't keep the ball protected, if we don't make good passes, smart plays, no single person can stand out without the help from the team, so I think it's going to be more of a team effort than an individual kind of thing,” said Hunger.
  p Hunger continued, “I think we're just going to have to get our stuff together and make sure we know how to properly play good water polo because that's going to be a team that challenges the basics and fundamentals of how we play, and I think that's just going to be a game where we're going to have to put everything we have into it.”
  p Simpson said, “This is where everyone shows up to play their best water polo, and the four best teams will show up to play each other, everyone's going to bring it. Everyone's going to have their strategies laid-out because all the teams know each other at this point in the season, so really what it comes down to is who's willing to show up, who's willing to have those clutch moments and just close out the season on a high note.”
  p If the team defeats Brunswick, it will go on to play in the finals the same day.



  -image_url = "/dist/images/previews/cwaggoner.wopo.02.JPG"
  -image_source = "C.Waggoner / The Phillipian"
  -caption = "Boys Varsity Waterpolo is first seed in the Nepsac tournament this year"
  include ../elements/half-width.pug

  hr
