#bxc
  h1 Boys Cross Country
  h4 By Abby Ryan '21
  p With 200 meters left in the race, Captain Giacomo Marino ’18 surged ahead of the top Phillips Exeter Academy runner to take the lead and secure first place with a time of 15:59 minutes. Strong performances across the board helped Andover secure a 19-39 win over Exeter.
  p Andover’s top finishers were Marino, Alex Fleury ’20, Spencer Davis ’18, Sam Tobin ’18, and Nathan Goldthwaite ’18.
  p Jacob Buehler ’19 said, “The average time of our top five runners was 16:29. That's insane. Last year, we only had one singular performance under 16:29. I think that statistic really shows how much we have improved in the past year.”
  p Many runners achieved their best times because of a strong week of preparation and the high energy from the fans on the Great Lawn, according to Buehler. 
  p Buehler said, “The energy from the crowd was unlike any other cross country meet we've had all season. Everyone was very excited to get together and race, and everybody seemed very happy to be there. I especially liked the Drumline performance before the race. It really made the meet more exciting.
  p Will Leggat ‘20 wrote in an email to <i>The Phillipian</i>, “The crowd at home meets, and specifically [Andover/Exeter], is always huge. The excitement and energy on the lawn is usually quite tame but at [Andover/Exeter] there’s a special sense of rivalry and competition that’s very rare, especially in a sport like cross country where spectators don’t see very much of the race.”
  -var quote = "The excitement and energy on the lawn is usually quite tame but at [Andover/Exeter] there’s a special sense of rivalry and competition that’s very rare..."
  -var quote_source = "Will Leggat '20"
  include ../elements/quote.pug
  p After suffering a loss to Exeter last season, Andover left it all out on the course and came out with strong results from every runner on the team, according to Tobin.
  p “Seeing the results, we were both ecstatic and a little bit in disbelief. The team performed tremendously against Exeter,” said Tobin.
  p Andover will be racing at Choate for Interschols on Saturday, a meet where the top runners from each team in the Nepsac Division I compete. 
  p Head Coach Jeff Domina said, “Throughout the season, the team has progressed steadily, adding strength and speed, as well as other kinds of race-readiness. I’ve also been impressed with the work they’ve done to take care of themselves outside of practice: eating, drinking [water], sleeping, and that sort of thing. It all pays off.”
  p “We can only hope to cap off our undefeated season with a championship win on Saturday [at Interschols],” said Tobin.
  p Domina added, “We’re in a good position as we approach Interschols, but we take nothing for granted. We’ll keep our focus and taper a bit. I hope we leave the meet knowing we raced as well as we could. If that means winning the championship, great, but we already have enough to be happy about to remember the 2017 season as a truly great one.”
  -image_url = "/dist/images/previews/bxc.rprem.jpg"
  -image_source = "R.Prem / The Phillipian"
  -caption = "Andover Boys Cross Country suffered a loss against Exeter last season."
  include ../elements/half-width.pug
  hr
