#bxc
  h1 Boys Cross Country
  h4 By Hannah Zhang '21

  p After ending its regular season with a 3-2 dual-meet record, Andover Boys Cross Country hopes to repeat last year’s first-place win at Interschols. This year, the Nespsta Division I Championships will take place at Avon Old Farms School in Avon, Conn..
  p According to Captain Alex Fleury ’20, Andover has demonstrated significant improvement and growth over the course of its 2018 season.
  p Fleury said, “This season is progressing well for us. Throughout our practices and workouts, we have worked hard on running in packs, slowing moving them closer together, and moving them faster and faster.”
  p Despite the team’s success thus far into the season, Andover will continue to work on its pack-running strategy in preparation for Interschols, according to Fleury and Michael Turner ’20.
  p Fleury said, “For Interschols, we are going to continue to work on this [strategy] and solidify the packs we have been running in all season. We need to bring these packs further and further up the competition if we want a chance at winning, because the strong teams have really fast packs far up in the varsity races.”

  -var quote = "We've been... trying to improve packs so that ... when we race, runners don't get in between us..."
  -var quote_source = "Michael Turner ’20"
  include ../elements/quote.pug

  p Turner said, “We've been doing a lot of workouts together and trying to improve packs so that during Interschols when we race, runners don't get in between us and add points to our team, so hopefully we can do well.”
  p According to Fleury, Andover will face tough competitors at Interschols, including Northfield Mount Hermon, Phillips Exeter Academy, and Loomis Chaffee, last year’s second, fourth, and fifth place teams, respectively.
  p Fleury said, “All three [teams] have fantastic runners up front, followed by a strong pack behind them that can do damage to teams with weaker varsity teams. We need to avoid this by getting our packs ahead of theirs, ensuring that our top runners can do what they need to.”

  -image_url = "/dist/images/previews/cwaggoner.BXC.07.JPG"
  -image_source = "C.Waggoner / The Phillipian"
  // replace caption
  -caption = "Andover Boys Cross Country suffered a loss against Exeter last season."
  include ../elements/half-width.pug
  hr
