#gvfh
  h1 Girls Field Hockey
  h4 By Nash Johnson '20
  p After finishing off last year’s regular season with a 2-0 victory against archrival Phillips Exeter Academy, Andover Field Hockey looks to duplicate last season’s triumph this Saturday, according to players on the team. Andover currently holds a record of 14-1, while Exeter stands at 7-8-1.
  p Andover has won the last three Andover/Exeter games and hopes to play hard and smart in order to secure their fourth consecutive win, according to Captain Elizabeth Welch ’18. 
  p “Both teams, regardless of any previous records, will come out strong and fast, and it is sure to be a highly competitive game. We are all so pumped to take part in the rivalry and hopefully get the win,” said Welch.
  p With a position in the New England Preparatory School Athletic Conference (Nepsac) tournament already secured, Andover will continue to work hard and take advantage of the opportunity to play during this fall’s Andover/Exeter Weekend, according to Head Coach Kate Dolan.
  p “We always look forward to taking part in what is such a storied and great rivalry. [We still need to] have a sense of urgency — going after every ball, supporting one another — just doing everything a bit better, like the girls are capable of doing,” wrote Coach Dolan in an email to <i>The Phillipian</i>.
  -var quote = "We always look forward to taking part in what is such a storied and great rivalry."
  -var quote_source = "COACH KATE DOLAN"
  include ../elements/quote.pug
  p As a team, Andover hopes to work together for its last game of the regular season, according to Coach Dolan.
  p “We want to play cohesively, enthusiastically, and intelligently and with great passing, great off ball movement, and great teamwork from beginning to end,” wrote Coach Dolan.
  -image_url = "/dist/images/previews/gfh.rprem.jpg"
  -image_source = "R.Prem / The Phillipian"
  -caption = "Andover Field Hockey has won three consecutive games against Exeter."
  include ../elements/half-width.pug
  hr
