#gvfh
  h1 Girls Field Hockey
  h4 By Abby Ryan '21

  p Andover Field Hockey is looking to cap off their 14-0 regular season record by beating Phillips Exeter Academy this Saturday.
  p According to Anna Bargman ’21, the team has improved over the course of the season and is fine-tuning plays and skills in anticipation for Exeter and the postseason.
  p “I think we've definitely improved as a team and we can only go up. We improve with every game, I think, learning from our mistakes. It's certainly a rollercoaster, but just always working on hustle and team play. It's a big part. Not settling: ‘Don't settle’ – that's one of our mottos – and playing together – that's also one of our mottos, together,” she said.
  -var quote = "We improve with every game, I think, learning from our mistakes. It's certainly a rollercoaster, but just always working on hustle and team play."
  -var quote_source = "Anna Bargman ’21"
  include ../elements/quote.pug
  p Although Andover will make the playoffs regardless of the result of its matchup against Exeter, the game will determine whether or not the team will hold the top seed in the tournament. This match holds more meaning for the Seniors on the team, according to Bargman.
  p “This Exeter game, since it's home, it's going to be our Senior game, so that's always really fun to honor the seniors, since they're so special to our team. We like to decorate the locker room and the field and make posters for them. Also, it's cool because the [Juniors] get to experience their first Andover/Exeter game, which I know for me was really fun and exciting, and it's something special for PAFH, so, always fun,” she said.
  p According to Captain Meghan Ward ’19, the team is going to go through its normal routine throughout the week, but has a special focus on doing well this weekend.
  p “We're definitely still sticking to the same practice plan, but since it's our last game of the regular season, we're definitely going to have a lot more energy and really get pumped up for the game on Saturday. Essentially, everything we're eating, drinking, how much we're sleeping is just all for Saturday. Eat, sleep, dream about beating Exeter,” said Ward.

  -image_url = "/dist/images/previews/dzhu.PAFH.05.JPG"
  -image_source = "D.Zhu / The Phillipian"
  -caption = "Andover Field Hockey stands undefeated this season."
  include ../elements/half-width.pug
  hr
