#gvs
  h1 Girls Soccer
  h4 By Juliet Gildehaus '20
  p Fresh off a 1-0 win against Lawrence Academy last Friday, Andover Girls Soccer feels confident heading into its final match against archrival Phillips Exeter Academy. With a current record of 6-5-3, Andover expects a competitive edge over Exeter, which currently holds a 1-12-1 record.
  p In last year’s matchup, Andover came out on top in a close game, with a final score of 2-1. Though the team will not play in the Nepsac tournament this year, Andover looks to finish off the season with a victory against its rival team. 
  p “Exeter hasn’t won much this season, so we’re feeling like [the game] is going to be fun, but we’ll stay ready for anything. We’re mostly just looking to play the great soccer we all know we can and have fun [while] doing so,” said Co-Captain Krys Swain ’18.
  p After a long season, Andover is excited to show off all its hard work and improvement against Exeter, according to Isabella DiBenedetto ’20. 
  p “The team and I have been waiting for this game the whole season. We are so happy to be able to travel up there and play our rivals. This rivalry has been going on for such a long time, so we can't wait to represent Big Blue,” DiBenedetto said.
  p Co-Captain Tookie Wilson ’18 added, “I could not be more excited to face our rivals. As far as the team goes, we are ready for a good game with awesome fans. There is always so much excitement, and we are looking to enjoy our last few moments together on the field.”
  -var quote = "I could not be more excited to face our rivals. As far as the team goes, we are ready for a good game with awesome fans."
  -var quote_source = "TOOKIE WILSON '18"
  include ../elements/quote.pug
  -image_url = "/dist/images/previews/gvs.dtuller.jpg"
  -image_source = "D.Tuller / The Phillipian"
  -caption = "Andover Girls Soccer beat Exeter 2-1 last season."
  include ../elements/half-width.pug
  hr
