#gvs
  h1 Girls Soccer
  h4 By Abby Ryan '21



  p After ending its game against Phillips Exeter Academy with a score of 1-1 at Andover/Exeter Weekend last year, Andover Girls Soccer looks to defeat its rival in the teams’ first matchup since the tie.
  p According to Isabella DiBenedetto ’20 and Myra Bhathena ’21, the match is highly anticipated.
  p “I understand that the game is going to be really important. A lot of people are going to be there, so I think it's really important that we pull-through and win,” said Bhathena.
  p DiBenedetto wrote in an email to The Phillipian, “We are very excited for our game versus Exeter. Every year this is one of the most fun and competitive games we get to play because of the huge rivalry surrounding it. I think this year we have a really strong group of girls who always give 100 percent all the time. If we are training or preparing for a game, the team is always focused and ready to execute the plan.”
  p According to Bhathena, over the course of the season, the team has successfully incorporated its new players into the team dynamic.
  p “Our team has really improved throughout the season very noticeably. Since we had a lot of new kids this year and three new [Post-Graduates] for leaders, we had to learn how to work together, and I think now we really understand each other. We can play much better together. For the team, our leadership is key. We have two amazing captains, and the three [Post-Graduates] really stepped up to help support them and our team, so that's important too,” said Bhathena.
  p According to Karoline Conte ’21 and Bhathena, the team has been long preparing mentally and physically in anticipation for the matchup against Exeter
  p “We have a whole week to practice, and I think we are going to work a lot on defense and trying to stop gaps from happening. We don't want Exeter splitting our defense up. We're also going to work on finishing inside the box so we can collect goals,” said Bhathena.
  p Conte added, “We have been practicing mindfulness with Andy Housiaux [Currie Family Director of the Tang Institute and Instructor in Philosophy and Religious Studies] a bit. We will maybe review some film this week, similarly to past games, to highlight our strengths and weaknesses. I am very excited for the Exeter game and having the opportunity to play for my team in the oldest high school rivalry in the nation. The team is practicing hard and resting up for the big game.”
  p DiBenedetto and Bhathena both cite the home energy and team spirit as critical factors going into the game. The team looks forward to the energy and support from the home crowd and works to harness that in its play.
  p Bhathena said, “We have a ton of spirit and I think it really helps our game. During Andover/Exeter, when it's home, I think we're going to have even more spirit from everyone else, including ourselves. I know our bench is always cheering. We don't ever sit on the bench. We are always standing. When we're playing, we're always supporting each other, so that spirit is also for our school and for our team.”

  -var quote = "When we're playing, we're always supporting each other, so that spirit is also for our school and for our team."
  -var quote_source = "Myra Bhathena ’21"
  include ../elements/quote.pug

  p DiBenedetto said, “The past few years since I have been on the team, the game has always been tough. I think the best part about it this year though is that it’s home, so we have the support of the school with us. The environment is always great. We are just excited to go after it.”



  -image_url = "/dist/images/previews/dzhu.GVS.04.jpg"
  -image_source = "D.Zhu / The Phillipian"
  -caption = "Andover Girls Soccer tied Exeter 1-1 last season."
  include ../elements/half-width.pug
  hr
