#gvvb
  h1 Girls Volleyball
  h4 By Phoebe Bicks '21
  p Andover Girls Volleyball looks to repeat its 3-2 regular season victory against archrival Phillips Exeter Academy and its winning streak to ten wins this Saturday at Andover/Exeter. Both teams hold impressive records this season, with Andover standing at 11-2 and Exeter at 10-2.
  p After losing to Exeter twice last year, Andover looks for redemption this weekend after adding many talented underclassmen to its roster, according to Brooklyn Wirt ’21.  
  p Wirt said, “Exeter is a very strong team, and I know that even though we beat them in the past, we can’t underestimate them. They can definitely pull something out of their hat or change up their line-up to throw us off. I think that we need to be prepared for a long-fought game, but I think that we definitely have the advantage with our record.”
  p According to Head Coach Clyfe Beckwith, the game could potentially go either way. The win will depend heavily on crowd noise and the effectiveness of each team’s communication.
  p Coach Beckwith said, “[Andover/Exeter] is always unpredictable because the energy is through the roof. First of all, it can go from absolute silence to the point where I can’t communicate with the team. So, depending on what the crowd does, and whether they stay, it can go from really loud to really low.”
  p “The difference would be if we can hit our hardest serves in. [That] will make a big difference. If we don’t do that, and play it safe, it’s a different ball game. Andover/Exeter, in my experience, has more often than not gone to five [sets], and if not, it’s a sad event for one team,” added Coach Beckwith.
  -image_url = "/dist/images/previews/gvvb.mcallahan.jpg"
  -image_source = "M.Callahan / The Phillipian"
  -caption = "Andover Girls Volleyball suffered a loss against Exeter during last year’s Andover/Exeter Weekend."
  include ../elements/half-width.pug
  hr
