#gvvb
  h1 Girls Volleyball
  h4 By Hannah Zhang '21

  p After defeating Phillips Exeter Academy 3-0 earlier in the season, Andover Girls Volleyball hopes to repeat its success this Saturday. Going into Andover/Exeter Weekend, Andover holds a 8-3 season record. Exeter’s record stands at 7-6.
  p Andover has shown its versatility and cohesiveness as a unit throughout the season, according to Head Coach Clyfe Beckwith and Captain Serena Liu ’19.
  p Coach Beckwith said, “This overall season has been terrific. We have really developed as a team. The team goal was to jell, to develop chemistry, so that we could do quick plays, which has happened.”
  p “We have a really strong team, and I think our game against Milton helped display the depth we had and the capability of each player to fill in a position no matter what. This season we've been really strong in maintaining the level of intensity and play that we have. I think as the season winds down, we're reconnecting and really pushing ourselves to the next level, which is really awesome. I think we'll be able to show that against Exeter on Saturday,” said Liu.
  p Despite coming out on top in its last matchup against Exeter, the team will continue working on its timing and confidence, according to Coach Beckwith and Liu.
  p Coach Beckwith said, “They will be competitive. We definitely will be the favorite given their record and the fact that we've already played them, but [at] Andover/Exeter anything can happen. Specifically, what we're going to be looking at is to clean up the timing for our quick plays and service receive.”


  -var quote = "we just want to... make sure that, when we go out to play Exeter, we have confidence not only in ourselves but also in each other"
  -var quote_source = "Serena Liu ’19"
  include ../elements/quote.pug


  p “We just want to make sure that we play our game. I think against Exeter we were dominating the court the entire time, and we just want to keep that and make sure that, when we go out to play Exeter, we have confidence not only in ourselves but also in each other,” said Liu.


  -image_url = "/dist/images/previews/dzhu.VBALL.02.JPG"
  -image_source = "D.Zhu / The Phillipian"
  -caption = "Andover Girls Volleyball defeated Phillips Exeter Academy 3-0 earlier in the season."
  include ../elements/half-width.pug
  hr
