#gxc
  h1 Girls Cross Country
  h4 By Hannah Zhang '21


  p With a 3-2 season record in dual meets, Andover will take seven Varsity and ten JV runners to Avon Old Farms School in Avon, Conn. on Saturday for this year’s Nepsta Division I Championships, looking to improve on last year’s second-place finish out of 13 competing teams.
  p Deerfield and Phillips Exeter Academy, last year’s first and third place teams respectively, will be two main competitors for Andover at Interschols, according to Marguerite Montagner ’21 and Brooke Sanders ’19.
  p Montagner said, “Exeter and Deerfield are definitely going to be tough competition this weekend, but now that we’ve seen their teams we know which runners we can try to pace ourselves with and what we’re really up against.”
  -var quote = "...we’ve seen their teams we know which runners we can try to pace ourselves with and what we’re really up against."
  -var quote_source = "Marguerite Montagner ’21"
  include ../elements/quote.pug
  p Deerfield and Exeter are the only two teams to have beaten Andover this season. Deerfield secured a 33-23 victory over Andover at home on October 28, while Exeter won 30-25 last Saturday.
  p In preparation for Interschols, according to Sanders and Montagner, the team has continued its prepare for the flat course it will compete on with lighter mileage and quicker workouts.
  p Sanders said, “The Interschols group will continue practicing as normal this week. In past years, we have tapered and focused on strategy. We have never run at Avon, but [Head Coach Patrick Rielly] has told us that it is a flat and fast course. Last week we had a strong track workout in preparation for the course.”
  p “We will keep doing our weekly workout schedule, but it’s also taper week which means it’s a little easier so we’re well rested for Saturday. We’ve already put in the work, now we just need to make sure we’re sleeping and resting so we can bring everything we’ve got this weekend,” said Montagner.
  p Sanders and Montagner both say that the team has shown improvement as a whole over the course of the season.
  p Sanders said, “We started off strong with early season victories. We’re lucky to have a lot of younger runners and runners new to the team who have been improving each race and helping score points for the team.”
  p “The season has been really good. We’ve worked really hard to focus on our three team values: strength, community, and efficiency, and I think we’ve done really well working as a team,” said Montagner.



  -image_url = "/dist/images/previews/cwaggoner.GXC.04.JPG"
  -image_source = "C.Waggoner / The Phillipian"
  -caption = "Girls Cross Country will try to win the championship this year after coming in second to Deerfield in 2017."
  include ../elements/half-width.pug
  hr
