#gxc
  h1 Girls Cross Country
  h4 By Jacob Buehler '19
  p Michaela Jones ’18, Molly MacQueen ’21, and Alisa Crueger-Cain ’20 pulled away from Phillips Exeter Academy’s top runner and darted across the line to sweep the top three places this past Saturday. The trio led the team to a 19-36 victory, bringing Andover’s record to 5-1.
  p “I think we did excellent with channeling all the effort and practices in the past few weeks, and we really were strong in our packs. Especially in the Varsity race, there wasn’t much separation between the top runners, and even in the JV race, everyone was really close, and it was really a great team effort,” said Abby Ryan ’21.
  p Andover’s top runner, Jones, ran a season-best 18:37 minutes to win the race, followed by MacQueen at 19:18 minutes and Crueger-Cain at 19:22 minutes to round off the top three. Every other Andover Varsity runner also ran a personal best at this race: Isabella Morzano ’18 ran a time of 20:15 minutes to finish fifth, Jess Wang ’18 ran a time of 20:21 minutes to finish eighth, Brooke Sanders ’19 ran a time of 20:34 minutes to finish twelfth, and Posie Millett ’20 completed the race in 20:37 minutes to finish thirteenth.
  p One factor that allowed Andover to succeed was the exhausting final sprint carried out over the final 600-meter portion of the race.
  p Jess Gearan ’18 said, “I definitely think our strength from the last Exeter race was the last loop of the Great Lawn. There were a lot of people passing Exeter runners.”
  p Captain Grace Rademacher ’18 said, “We were courageous, and especially some [Juniors] made some really bold moves on the Lawn. It helped us a lot.”
  -var quote = "We were courageous, and especially some [Juniors] made some really bold moves on the Lawn. It helped us a lot."
  -var quote_source = "GRACE RADEMACHER '18"
  include ../elements/quote.pug
  p Smart pacing was another factor that allowed Andover runners to succeed. Utilizing a conservative strategy for the first half of the race, followed by an aggressive second half was particularly effective, according to Crueger-Cain and MacQueen.
  p “Before the race, our coaches told us to go out conservatively because everyone’s going to want to sprint at the beginning. At the beginning of the race, a bunch of Exeter runners were in front of Molly and me, and we ended up actually passing them on Heartbreak Hill,” said Crueger-Cain. “[Because] half of our course is downhill… I concentrated on pushing the pace on the downhills and pushing on the uphills. Actually, just pushing everywhere.”
  p MacQueen said, “We, for the first mile and a half, stayed right behind Exeter’s first runner, and then, as we got to Heartbreak Hill, we pulled away quite a bit. [We] then stayed away and really just gave it everything on the Great Lawn.” 
  p Saturday also marked the last home race for Andover’s Senior runners. While saddened by the end of their Andover cross country careers, many runners were motivated to run a memorable final race.
  p Jones said, “I think it definitely made me push myself a little harder, just knowing [it was my last race]. Especially on Heartbreak Hill, I was like, ‘This is my last time ever running up Heartbreak, so it’s gotta be good.’ ”
  p Andover will shift its focus toward its championship meet, the New England Preparatory School Track Association (Nepsta) D1 Cross Country Championship.
  p Rademacher said, “I think that next week — considering that Interschols is just a whole different beast — I think that we’re going to need to really band together. It just helps so much to have good packs at Interschols, as opposed to having one successful person. I think we just need to be calm and confident. We have it in us. I’m not worried.”
  p After claiming the runner-up title to Exeter in 2016, Andover will travel to Choate this Saturday in an attempt to reclaim its Nepsta title, last won in 2015 at Taft.
  -image_url = "/dist/images/previews/GXC.rprem.jpg"
  -image_source = "R.Prem / The Phillipian"
  -caption = "Girls Cross Country will try to win the championship this year after coming in second to Exeter in 2016."
  include ../elements/half-width.pug
  hr
