header{
  // background: $light-gray no-repeat center center;
  background: black no-repeat center center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  .text{
    position: absolute;
    bottom: 50px;
    left: $horizontal-padding;
    margin-right: $horizontal-padding;
    background-color: $blue;
    color: white;
    padding: 20px;
    h1{
      margin: 0;
      font-size: 4em;
    }
    /*.andover{
      color: $light-blue;
    }
    .exeter{
      color: $red;
    }*/
  }

}
