header{
  // background: $light-gray no-repeat center center;
  background: black no-repeat center center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  .text{
    position: absolute;
    bottom: 50px;
    left: $horizontal-padding;
    margin-right: $horizontal-padding;
    background-color: $light-gray;
    color: $darker-blue;
    padding: 20px;
    h1{
      margin: 0;
      font-size: 4em;
    }
    .andover{
      color: #446cb3;
    }
    .exeter{
      color: $red;
    }
  }

}
