html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#wrapper {
   min-height:100%;
   position:relative;
}

#body{
  padding-top: 50px;
  padding-bottom: 80px;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height: 50px;
   padding: 0 $horizontal-padding;
}
